

@model IEnumerable<Test_02.Models.Employee1>

@{
    ViewBag.Title = "Index";
}

<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <!-- Card Header -->
        <div class="card-header bg-primary text-white text-center">
            <h3>Employee Records</h3>
        </div>

        <!-- Button Section -->
        <div class="card-body">
            <div class="d-flex justify-content-center flex-wrap gap-3 pb-3">
                @Html.ActionLink("Add First Record", "InsertRecord", null, new { @class = "btn btn-success fw-bold" })
                @Html.ActionLink("Total Salary of Employee", "TotalSalary", null, new { @class = "btn btn-success fw-bold" })
                @Html.ActionLink("DOB less than 01-01-2000", "FindDOB", null, new { @class = "btn btn-success fw-bold" })
                @Html.ActionLink("Count MiddleName that are null", "CountMiddleName", null, new { @class = "btn btn-success fw-bold" })
            </div>

            <!-- Table Section -->
            <table class="table table-striped table-bordered text-center mt-3">
                <thead class="table-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                        <th>@Html.DisplayNameFor(model => model.MiddleName)</th>
                        <th>@Html.DisplayNameFor(model => model.LastName)</th>
                        <th>@Html.DisplayNameFor(model => model.DOB)</th>
                        <th>@Html.DisplayNameFor(model => model.MobileNumber)</th>
                        <th>@Html.DisplayNameFor(model => model.Address)</th>
                        <th>@Html.DisplayNameFor(model => model.Salary)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.MiddleName)</td>
                            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => item.DOB)</td>
                            <td>@Html.DisplayFor(modelItem => item.MobileNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.Address)</td>
                            <td>@Html.DisplayFor(modelItem => item.Salary)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>