@model Test_3.Models.Employee2

@{
    ViewBag.Title = "Add New Employee";
}

<div class="container mt-5">
    <div class="card shadow rounded">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Add New Employee</h3>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row mb-3">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.FirstName, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.MiddleName, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.MiddleName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.LastName, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.DesignationId, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.DesignationId, new { @class = "form-control", type = "number", min = "1" })
                        @Html.ValidationMessageFor(m => m.DesignationId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.DOB, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.DOB, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                        @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.MobileNumber, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", maxlength = "10" })
                        @Html.ValidationMessageFor(m => m.MobileNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.Address, new { @class = "form-label" })
                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", rows = 2, maxlength = "100" })
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                </div>

                <div class="mb-4">
                    @Html.LabelFor(m => m.Salary, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Salary, new { @class = "form-control", type = "number", step = "0.01", min = "0.01" })
                    @Html.ValidationMessageFor(m => m.Salary, "", new { @class = "text-danger" })
                </div>

                <div class="d-flex justify-content-between">
                    <input type="submit" value="Save" class="btn btn-success" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-secondary" })
                </div>
            }
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
